{% extends "base.html" %}
{% block content %}
    <header>
  	<h2>Issue Tracker</h2>
	</header>

	<section>
        <nav>
             <ul>
                <li><a href="{{url_for('sign_out')}}">Log In</a></li>
			  <li><a href="{{url_for('create_user_landing')}}">Sign Up</a></li>
			  <li><a class="active"  href="#home">Forgot Password</a></li>
             </ul>
        </nav>
        <article>
    <form method="post" action="{{url_for('recovery_submit')}}"> <!-- Redirected to index.py-->  <!-- add action path-->
        <legend style="margin-top:40px;"><h1>Password recovery</h1></legend>

            <div class="text-input center" >
            <input type="text" id="frgtpwd" name="email"/>
            <label for="frgtpwd">Your email</label><br/>
            {% if error_value== True %}
                Email not registered
            {% endif %}<br/><br>
            </div>
            <input type="submit" class="button" value="Submit"/><br/><br>

        </div>

    </form>
            </article>
    </section>
{% endblock %}