{% extends "base.html" %}
{% block content %}
<script type="text/javascript">

function upload() {

	Webcam.snap( function(data_uri) {
        document.getElementById('results').innerHTML =
        '<img id="image" src="'+data_uri+'"/>';
      } );
    console.log("Uploading...")
    var image = document.getElementById('image').src;
    var form = document.getElementById('myForm');
    var formData = new FormData(form);
    formData.append("file", image);
    $("#var1").val(formData.get('file'));
	$("#var2").val(formData.get('username'));
	$("#form").submit();
}
	</script>
	<header>
		<h2>Project Tracker</h2>
	</header>

	<section>
		<nav>
			<ul>
			  <li><a class="active" href="#home">Log In</a></li>
			  <li><a href="{{url_for('create_user_landing')}}">Sign Up</a></li>
			  <li><a href="{{url_for('forgotpwd')}}">Forgot Password</a></li>
			</ul>
		</nav>

		<article1>
					<form method="post"  action="{{url_for('authenticate_user')}}" id="myForm"> <!-- Redirected to index.py-->  <!-- add action path-->

					<div class="text-input">
						<input type="text" id="username" name="username" value="{{username if username!=None}}" style="text-align: center;"
							placeholder="Username or email"/>
						<label for="username">Name</label>
					</div>
					<div class="pwd-input">
						<input type="password" id="password" name="password"
							style="text-align: center;" placeholder="Password"/>
						<label for="password">Password</label>
						{% if error == True %}
                            <br>
							Wrong Username or password<br/><br>
						{% endif %}
					</div>
					<br>

					<a href="{{url_for('forgotpwd')}}" style="color:black;">Forgot your password?</a>

					<input type="submit" class="button" value="Sign in"/>
					<br>
					<br>

					<label>New User?</label>
					<a href="{{url_for('create_user_landing')}}" style="color:black;"><b>Sign Up Now</b></a>

				</form>

		</article1>
		<article2>
			<b>OR LOGIN Using Facial Detection</b><br>
            Note : Please Enter User Name and then click Face Unlock
				<div id="my_camera"></div>
				<input type="button" class="button" value="Face Unlock" onclick="upload()">
				<input type="hidden" class="button" value="Login" onclick="upload()" id="results">
			<form style="display: hidden;" action="{{url_for('face_unlock')}}" method="POST" id="form">
			  <input type="hidden" id="var1" name="var1" value=""/>
			  <input type="hidden" id="var2" name="var2" value=""/>
			</form>


			</article2>

	</section>
			<script type="text/javascript">
				Webcam.set({
				width: 320,
				height: 240,
				image_format: 'jpeg',
				jpeg_quality: 100
			});
			Webcam.attach('#my_camera');
			</script>
{% endblock %}