{% extends "base.html" %}
{% block content %}
<header>
	<h2>Project Tracker</h2>
</header>
<section>
  <nav>
    <ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="{{url_for('new_issue_landing')}}">New Issue</a></li>
	  <li><a href="{{url_for('sign_out')}}">Sign Out</a></li>
	</ul>
  </nav>

  <article>
    <h1>Issue List</h1>
    <p>
			<ul style="list-style: none; padding-left: 0;">
			<li style="float:left;padding-right: 5px;">
				<form method="post" action="{{url_for('render_main_issue_list')}}">
                    Status
					<select name ="status">
                        <option value="All">All</option>
						<option value="Open" {% if selected_status == 'Open' %} selected="selected" {% endif %}>Open</option>
						<option value="Closed" {% if selected_status == 'Closed' %} selected="selected" {% endif %}>Closed</option>
					</select>

					Project
					<select name ="project">
							<option value="All">All</option>
						{% for project in projects %}
							<option value="{{project}}"
							{% if selected_project == project %} selected="selected" {% endif %}>
								{{project}}</option>
						{% endfor %}
					</select>

            		Discipline
                    <select name="discipline">
							<option value="All">All</option>
						{% for discipline in disciplines %}
							<option value="{{discipline}}"
							{% if selected_discipline == discipline %} selected="selected" {% endif %}>
								{{discipline}}</option>
						{% endfor %}
					</select>

            		Sentiment
                    <select name="sentiment">
                        <option value="All">All</option>
						<option value="POSITIVE" {% if selected_sentiment == 'POSITIVE' %} selected="selected" {% endif %}>POSITIVE</option>
						<option value="NEGATIVE" {% if selected_sentiment == 'NEGATIVE' %} selected="selected" {% endif %}>NEGATIVE</option>
                        <option value="NEUTRAL"  {% if selected_sentiment == 'NEUTRAL'  %} selected="selected" {% endif %}>NEUTRAL</option>
					</select>

                    <input type="submit" value="submit">
					<input type="hidden" id="first_page" name="fist_page" value="first_page">
					<input type="hidden" id="filter" name="filter" value="filter">
				</form>

			{% if documents %}
				<form method="post" action="{{url_for('render_main_issue_list')}}">
					Document
					<select name="document" onchange="this.form.submit()">
						{% if selected_document %}
							<option select="selected">{{selected_document}}</option>
							{% endif %}
								<option name="doc_all">All</option>
							{% for document in documents %}
								<option name="{{document}}">{{document}}</option>
							{% endfor %}
					</select>
					{% if selected_status %}
					<input type="hidden" id="status" name="status" value="{{selected_status}}">
					{% endif %}
					{% if selected_project %}
					<input type="hidden" id="project" name="project" value="{{selected_project}}">
					{% endif %}
					{% if selected_discipline %}
					<input type="hidden" id="discipline" name="discipline" value="{{selected_discipline}}">
					{% endif %}
					{% if selected_sentiment %}
					<input type="hidden" id="sentiment" name="sentiment" value="{{selected_sentiment}}">
					{% endif %}
					<input type="hidden" id="first_page" name="fist_page" value="first_page">
					<input type="hidden" id="filter" name="filter" value="filter">
				</form>
			{% endif %}
			</li>
            <li style="float:right;">
                <form action="{{url_for('export_to_pdf')}}" method="post">
                    <button name="pdf" id="pdf" type="submit">Export to PDF</button>
					<input type="hidden" id="status" name="status" value="{{selected_status}}">
					<input type="hidden" id="project" name="project" value="{{selected_project}}">
					<input type="hidden" id="discipline" name="discipline" value="{{selected_discipline}}">
					<input type="hidden" id="sentiment" name="sentiment" value="{{selected_sentiment}}">
					<input type="hidden" id="document" name="document" value="{{selected_document}}">
                </form>
				<form action="{{url_for('export_to_audio')}}" method="post">
					<button name="audio" id="audio" type="submit">Export to MP3</button>
					<input type="hidden" id="status" name="status" value="{{selected_status}}">
					<input type="hidden" id="project" name="project" value="{{selected_project}}">
					<input type="hidden" id="discipline" name="discipline" value="{{selected_discipline}}">
					<input type="hidden" id="sentiment" name="sentiment" value="{{selected_sentiment}}">
					<input type="hidden" id="document" name="document" value="{{selected_document}}">
				</form>
			</li>
	  	{% if not selected_project %}
		<script>
		document.getElementById("pdf").disabled = true;
		document.getElementById("audio").disabled = true;

		document.getElementById("pdf").style.opacity = 0.5;
		document.getElementById("audio").style.opacity = 0.5;
		</script>
		{% endif %}
		</ul>
	</p>
	<br/>
     <br/>
    <p>
	<table border="2">

			<tr>
			<th>ID</th>
			<th>DATE</th>
			<th>PROJECTS</th>
			<th>DOCUMENT</th>
			<th>DISCIPLINE</th>
			<th>ISSUE</th>
			<th>SENTIMENT</th>
			<th>STATUS</th>
			</tr>
			{% for row in issues %}
				<tr>
					<td>
					{{row[5]}}
					</td>
					<td>
					{{row[1]}}
					</td>
					<td>
					{{row[6]}}
					</td>
					<td>
					{{row[4]}}
					</td>
					<td>
					{{row[3]}}
					</td>
					<td>
					{{row[2]}}
						<br/>
						<audio controls>
							<source src="{{row[9]}}" type="audio/mpeg">
							* Your browser does not support audio *
						</audio>
					</td>
					<td>
					{{row[7]}}
					</td>
					<td>
                        <form method="post" action="{{url_for('change_issue_status')}}">
                            <select name="status_row" onchange="this.form.submit()">
                               {% if row[8] == 'Open' %}
								{% for status in lists %}
                                <option value="{{status}}">{{status}}</option>
                                {% endfor %}
								{% else %}
								{% for status in lists2 %}
                                <option value="{{status}}">{{status}}</option>
                                {% endfor %}
								{% endif %}
                            </select>
							<input type="hidden" id="uid" name="uid" value="{{row[5]}}">
                        </form>
					</td>
				 </tr>
				{% endfor %}
		</table>
	  	<p>
	  	<div style="text-align: center;">
			<div style="float: left; width: 58px">
				{% if not first_page %}
				<button onclick="goBack()">Prev <</button>
				{% endif %}
			</div>
			<div style="float: right; width: 58px">
				<form method="post" action="{{url_for('render_main_issue_list')}}">
					{% if last_key %}
					<button name="next" id="next" type="submit">Next ></button>
					{% endif %}
					<input type="hidden" id="db_key" name="db_key" value="{{last_key}}">
					<input type="hidden" id="status" name="status" value="{{selected_status}}">
					<input type="hidden" id="project" name="project" value="{{selected_project}}">
					<input type="hidden" id="discipline" name="discipline" value="{{selected_discipline}}">
					<input type="hidden" id="sentiment" name="sentiment" value="{{selected_sentiment}}">
					<input type="hidden" id="document" name="document" value="{{selected_document}}">
					<input type="hidden" id="next_b" name="next_b" value="next_b">
				</form>
			</div>
		</div>
		<script>
			function goBack() {
    		window.history.back();
			}
		</script>
	</p>
  </article>
</section>

{% endblock %}
